.custom-option {
    border-radius: none;
    font-weight: bold;
    height: 20px;

}

.comprobante{
    display: grid;
    grid-template-rows: 100px 84px 140px 52px calc(100vh - 100px - 84px - 140px - 200px) ;
    grid-template-columns: 100%;
}