.custom-option {
    border-radius: none;
    font-weight: bold;
    height: 20px;

}
option {
    background-color: #f0f0f0; /* Cambia el color de fondo de las opciones */
    color: #333; /* Cambia el color del texto de las opciones */
    padding: 10px; /* Ajusta el espaciado interno de las opciones */
  }